
#nav-bar span{
     color: white;
     padding: 1px 10px;
     border-radius: 10px;
}

#home-page{
     color: #5D5FEF;
}

#catagories-container h5{
     color: rgba(0, 0, 0, 0.676);
}
.found-news-amount h3{
     background-color: white;
}


@media only screen and (max-width:576px){
     #catagories-container{
          flex-direction: column;
          background-color: #5D5FEF;
          border-radius: 10px;
          padding: 10px 20px;
          text-align: center;
     }
     #catagories-container h5{
          background-color: white;
          color: #5D5FEF;
          padding: 10px;
          border-radius: 10px;
     }
}